<!DOCTYPE html>
<html>
<head>
  <title>Ventana</title>
  <%= stylesheet_link_tag    "ventana/application", :media => "all" %>
  <%= javascript_include_tag "ventana/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
